In [5]:
import pandas as pd
from math import log2

In [6]:
def entropy(df):
    last=df.columns[-1]
    all=float(len(df))
    y=float(len(df[df[last]==yes]))
    n=float(len(df[df[last]==no]))
    # print(f"{y} {n} {all}")
    positive=y/all
    negative=n/all
    entropy=-(positive)*log2((positive,1.0)[positive==0.0])-(negative)*log2((negative,1.0)[negative==0.0])
    entropy=(entropy,0.0)[entropy==0]
    return entropy
def information_gain(df,col):
    values=df[col].unique()
    entropyS=entropy(df)
    entropies={}
    for v in values:
        entropies[v]=entropy(df[df[col]==v])
        # print(f"entropy of {v} {entropies[v]}")
    gain=entropyS
    count=float(len(df))
    for v in values:
        sv=float(len(df[df[col]==v]))
        gain -=(sv/count)*entropies[v]
    return gain

In [10]:
fname="data.csv"

data= pd.read_csv(fname)
col= list(data.columns[1:-1])
yes="Y"
no="N"

m=-1
root=""
for c in col:
    g=information_gain(data,c)
    m=max(m,g)
    if m==g:
        root=c
    print(f"gain of {c} is {g}")
print(f"root is {root}")
subTrees=data[root].unique()
print()
print()
for t in subTrees:
    sub=data[data[root]==t]
    print(t)
    display(sub)
    print()
    print()
    pure=""
    if len(sub[sub.columns[-1]].unique())==1:
        pure="-is pure"

    sub.drop([root], axis=1).to_csv(f"subtree-{t}{pure}.csv",index=False)

gain of Outlook is 0.24674981977443933
gain of Temp is 0.02922256565895487
gain of Humidity is 0.15183550136234159
gain of Wind is 0.048127030408269544
root is Outlook


Sunny

    id Outlook  Temp Humidity    Wind Play
0    1   Sunny   Hot     High    Weak    N
1    2   Sunny   Hot     High  Strong    N
7    8   Sunny  Mild     High    Weak    N
8    9   Sunny  Cool   Normal    Weak    Y
10  11   Sunny  Mild   Normal  Strong    Y

Overcast

    id   Outlook  Temp Humidity    Wind Play
2    3  Overcast   Hot     High    Weak    Y
6    7  Overcast  Cool   Normal  Strong    Y
11  12  Overcast  Mild     High  Strong    Y
12  13  Overcast   Hot   Normal    Weak    Y

Rain

    id Outlook  Temp Humidity    Wind Play
3    4    Rain  Mild     High    Weak    Y
4    5    Rain  Cool   Normal    Weak    Y
5    6    Rain  Cool   Normal  Strong    N
9   10    Rain  Mild   Normal    Weak    Y
13  14    Rain  Mild     High  Strong    N